@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/Neo_Sans_Medium.ttf') format('truetype');
    font-weight: 500;
    /* Medium */
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabicRegular.ttf') format('truetype');
    font-weight: normal;
    /* Regular */
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabicLight.ttf') format('truetype');
    font-weight: 300;
    /* Light */
}

:root {
    $font-primary: "Neo Sans Arabic";
    $color-primary: #003391;
    $color-secondary: #35CCDE;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    color: $color-primary;
    direction: rtl;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: $color-primary;
    transition: all 0.6s ease-out;
    &:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #fff;
        border-color: $color-secondary transparent $color-secondary transparent;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: animate-preloader 1.5s linear infinite;
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 997;
    position: relative;
    height: 90px;
    background-color: transparent;
    a {
        text-decoration: none;
    }
    &.sticked {
        background-color: $color-primary;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 70px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        .topcontact {
            display: none;
        }
    }
    .topcontact a {
        margin-right: 15px;
        font-size: 16px;
        font-weight: 500;
        svg {
            width: 18px;
            height: 18px;
        }
    }
    .logo {
        img {
            max-height: 40px;
            margin-right: 6px;
        }
    }
}

.sticked-header-offset {
    margin-top: 70px;
}

section {
    scroll-margin-top: 70px;
}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/

@media (min-width: 1280px) {
    .navbar {
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }
        li {
            position: relative;
        }
        >ul>li {
            white-space: nowrap;
            padding: 10px 28px 10px 0px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3px;
            font-family: var(--font-secondary);
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            white-space: nowrap;
            transition: 0.3s;
            position: relative;
            &:focus {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 3px;
                font-family: var(--font-secondary);
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                white-space: nowrap;
                transition: 0.3s;
                position: relative;
            }
            svg,
            &:focus svg {
                font-size: 12px;
                line-height: 0;
                margin-right: 5px;
            }
            &:hover:before {
                visibility: visible;
                width: 100%;
            }
        }
        >ul>li>a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -6px;
            left: 0;
            background-color: $color-secondary;
            visibility: hidden;
            width: 0px;
            transition: all 0.3s ease-in-out 0s;
        }
        li:hover>a:before,
        .active:before {
            visibility: visible;
            width: 100%;
        }
        a:hover {
            color: #fff;
        }
        .active {
            color: #fff;
            &:focus {
                color: #fff;
            }
        }
        li:hover>a {
            color: #fff;
        }
        .dropdown {
            ul {
                display: block;
                position: absolute;
                left: 0px;
                top: calc(100% + 30px);
                margin: 0;
                padding: 10px 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                background: #fff;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                transition: 0.3s;
                border-radius: 10px;
                li {
                    min-width: 200px;
                }
                a {
                    padding: 10px 20px;
                    font-size: 15px;
                    text-transform: none;
                    font-weight: 600;
                    color: $color-primary;
                    i {
                        font-size: 12px;
                    }
                    &:hover {
                        color: $color-secondary;
                    }
                }
                .active:hover,
                li:hover>a {
                    color: $color-secondary;
                }
            }
            &:hover>ul {
                opacity: 1;
                top: 100%;
                visibility: visible;
            }
            .dropdown {
                ul {
                    top: 0;
                    left: calc(100% - 30px);
                    visibility: hidden;
                }
                &:hover>ul {
                    opacity: 1;
                    top: 0;
                    left: 100%;
                    visibility: visible;
                }
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown {
        ul {
            left: -90%;
        }
        &:hover>ul {
            left: -100%;
        }
    }
}

@media (min-width: 1280px) {
    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}


/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/

.navbar {
    flex-direction: column;
    align-items: end;
}

@media (max-width: 1279px) {
    .header .topcontact {
        display: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
        ul {
            position: absolute;
            inset: 0;
            padding: 50px 0 10px 0;
            margin: 0;
            background: $color-primary;
            overflow-y: auto;
            transition: 0.3s;
            z-index: 9998;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-family: $font-primary;
            font-size: 15px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.7);
            white-space: nowrap;
            transition: 0.3s;
            &:focus {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                font-family: $font-primary;
                font-size: 15px;
                font-weight: 600;
                color: rgba(255, 255, 255, 0.7);
                white-space: nowrap;
                transition: 0.3s;
            }
            i,
            &:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }
            &:hover {
                color: #fff;
            }
        }
        .active {
            color: #fff;
            &:focus {
                color: #fff;
            }
        }
        li:hover>a {
            color: #fff;
        }
        .getstarted {
            background: $color-primary;
            padding: 8px 20px;
            border-radius: 4px;
            margin: 15px;
            color: #fff;
            &:focus {
                background: $color-primary;
                padding: 8px 20px;
                border-radius: 4px;
                margin: 15px;
                color: #fff;
            }
            &:hover,
            &:focus:hover {
                color: #fff;
                background: rgba(0, 131, 116, 0.8);
            }
        }
        .dropdown {
            ul {
                position: static;
                display: none;
                padding: 10px 0;
                margin: 10px 20px;
                transition: all 0.5s ease-in-out;
                /*   background-color: #007466;
           border: 1px solid #006459;*/
            }
            .dropdown {
                ul {
                    position: static;
                    display: none;
                    padding: 10px 0;
                    margin: 10px 20px;
                    transition: all 0.5s ease-in-out;
                    /*   background-color: #007466;
             border: 1px solid #006459;*/
                }
                >.dropdown-active {
                    display: block;
                }
            }
            >.dropdown-active {
                display: block;
            }
        }
    }
    .mobile-nav-show {
        color: rgba(255, 255, 255, 0.6);
        width: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        margin-right: 10px;
    }
    .mobile-nav-hide {
        color: #fff;
        width: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 9999;
    }
    .mobile-nav-active {
        overflow: hidden;
        .navbar {
            right: 0;
            &:before {
                content: "";
                position: fixed;
                inset: 0;
                background: #0000008a;
                z-index: 9996;
            }
        }
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    width: 100%;
    position: relative;
    padding: 0px;
    margin-top: -90px;
    z-index: 0;
    .dropdown-link {
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        opacity: .5;
    }
    .one {
        background-image: url(../img/slider1.png);
    }
    .two {
        background-image: url(../img/slider2.png);
    }
    .three {
        background-image: url(../img/slider3.png);
    }
    .slide {
        position: relative;
        height: 600px;
        flex: .5;
        transition: flex .5s ease-in;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        &.active {
            flex: 3;
        }
        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: #00000082;
            bottom: 0;
            right: 0;
            left: 0;
        }
        &.active .overlay {
            background: #0000004d;
            &::after {
                content: "";
                height: 100%;
                width: 100%;
                background: linear-gradient(314deg, rgb(0 51 145 / 53%) 0%, rgba(17, 89, 240, 0.14) 50%, rgba(255, 255, 255, 0) 100%);
                display: flex;
            }
        }
        .slidertitle {
            position: absolute;
            bottom: 0;
            text-align: center;
            display: flex;
            padding: 15px;
            align-items: center;
            height: 100%;
            justify-content: center;
            width: 100%;
            left: 0;
            color: #fff;
            font-size: 14px;
            opacity: 1;
            transition: opacity .3s ease-in .2s;
        }
        &.active .slidertitle,
        .slidercontent {
            display: none;
        }
        &.active .slidercontent {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            z-index: 9;
            position: relative;
            width: 55%;
            margin: 0 11%;
            h2 {
                font-weight: 700;
            }
            p {
                font-size: 14px;
            }
            a.moredetails {
                margin: 20px 0 0;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 130px;
                background: $color-secondary;
                border-radius: 10px;
                font-size: 12px;
                text-decoration: none;
                color: #fff;
                transition: .5s ease-in-out;
                &:hover {
                    background: $color-primary;
                }
                svg {
                    width: 10px;
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/

.section-header {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: $font-primary;
    border-bottom: 1px solid rgb(106 120 127 / 51%);
    padding: 0 0px 15px 10px;
    width: fit-content;
    position: relative;
    &::after {
        content: "";
        width: 7px;
        height: 21px;
        background: #145FFF;
        display: flex;
        position: absolute;
        bottom: -5px;
        left: -12px;
        border-radius: 0px 5px 0px 5px;
        transform: rotate(140deg);
    }
    &::before {
        content: "";
        width: 7px;
        height: 21px;
        background: $color-secondary;
        display: flex;
        position: absolute;
        bottom: -5px;
        left: -25px;
        border-radius: 0px 5px 0px 5px;
        transform: rotate(140deg);
    }
}

.subtitle {
    width: 90%;
    color: #333333;
    font-size: 14px;
    margin-bottom: 0;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.sections-bg {
    background-color: #f6f6f6;
}

.section-header {
    text-align: center;
}


/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/

.about {
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: visible;
    .imgpattern {
        position: absolute;
        height: 100%;
        left: 4%;
        width: 50%;
        object-fit: cover;
        object-position: center;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .aboutsideimg {
        position: relative;
        justify-content: end;
        .aboutimg {
            width: 50%;
        }
        .aboutpattern {
            position: absolute;
            width: 50%;
            left: 55px;
            z-index: -1;
        }
    }
}


/*--------------------------------------------------------------
# Map location Section
--------------------------------------------------------------*/

.maplocation {
    padding: 0;
    overflow: hidden;
    position: relative;
    .cityimage {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
        }
        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: #000;
            opacity: .4;
            bottom: 0;
            right: 0;
            left: 0;
            &::after {
                content: "";
                height: 100%;
                width: 100%;
                background: linear-gradient(90deg, rgba(0, 51, 145, 1) 0%, rgba(17, 89, 240, 0.14) 50%, rgba(255, 255, 255, 0) 100%);
                display: flex;
            }
        }
    }
    .map-item {
        width: 100%;
    }
    .counterytab {
        margin: 45px 0;
        color: #fff;
        h2 {
            font-size: 22px;
            font-weight: 600;
        }
        ul {
            padding: 0;
            margin: 15px 0;
            width: 50%;
            li button {
                outline: none;
                font-size: 14px;
                line-height: 12px;
                height: 26px;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 8px;
                border-radius: 13px;
                background: transparent;
                color: #fff;
                margin: 5px 2px;
                &.active {
                    background: $color-primary;
                    border-color: $color-primary;
                }
            }
        }
    }
    .counterydetails {
        border: 1px solid #ddd;
        width: fit-content;
        border-radius: 16px;
        padding: 25px;
        color: #fff;
        min-width: 300px;
        ul {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            li {
                margin: 0 0 0 35px;
                &:last-child {
                    margin: 0 0 0 0px;
                }
            }
        }
    }
    .cityname {
        color: #fff;
        margin: 0 0 15px;
        font-weight: 700;
        font-size: 30px;
    }
    .riyadmap {
        width: 100%;
        height: 100%;
    }
    .counterydetails .count {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background: #fff;
            right: 47%;
        }
        p {
            margin: 0;
            display: grid;
            strong {
                font-size: 25px;
            }
        }
    }
}


/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/

.clients {
    padding: 80px 0;
    .section-header {
        margin: 0 auto 45px;
    }
    .swiper {
        padding: 10px 0;
    }
    .swiper-slide {
        .log-img {
            padding: 10px;
            border: 1px solid #CDD2D9;
            border-radius: 10px;
            height: 100px;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
                transition: 0.3s;
            }
        }
        img:hover {
            transform: scale(1.1);
        }
    }
    .swiper-pagination {
        margin-top: 50px;
        position: relative;
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #6A787F;
            opacity: .5;
            display: inline-flex !important;
        }
        .swiper-pagination-bullet-active {
            background-color: $color-secondary;
            opacity: 1;
        }
    }
}


/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/

.stats-counter {
    margin: 0px 0;
    background: $color-primary;
    background-image: url(../img/Statistics.png);
    background-position: center;
    background-size: cover;
    .section-header {
        margin: 0 auto 20px;
        color: $color-secondary;
        border-color: #fff;
        &::after {
            background: #fff;
        }
    }
    .stats-item-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 75px 0 10px;
        flex-wrap: wrap;
        .stats-item {
            .counter-content {
                width: 185px;
                display: flex;
                align-items: center;
                position: relative;
                height: 100px;
                justify-content: center;
                svg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
            text-align: center;
            margin: 20px 0;
            cursor: pointer;
            &:hover .counter-content svg:first-child {
                left: -8px;
                transform: scale(1.2);
            }
            .counter-content .purecounter {
                color: #001F5E;
                font-weight: 700;
                margin-right: 16px;
            }
            p {
                margin: 10px 0 0;
                color: #fff;
            }
        }
    }
}


/*--------------------------------------------------------------
# news Section
--------------------------------------------------------------*/

.news {
    background-image: url("../img/News_bg.png");
    background-position: center;
    background-size: cover;
    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 40px;
    }
}

.swiper-button-prev {
    left: -30px;
    right: auto;
    transform: scaleX(-1);
}

.swiper-button-next {
    right: -30px;
    left: auto;
}

.news {
    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }
    .swiper-slide {
        height: 500px;
    }
    article {
        padding: 12px;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        &:hover .post-img img {
            transform: scale(1.1);
        }
        .content {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            height: 100%;
            border-radius: 25px;
            overflow: hidden;
            .subcontent {
                margin: 20px;
            }
        }
    }
    .post-img {
        height: 240px;
        margin: 0;
        overflow: hidden;
        transition: 0.3s;
        img {
            transition: 0.3s;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .post-category {
        font-size: 14px;
        color: #6A787F;
        margin-bottom: 0;
    }
    .title {
        font-size: 16px;
        font-weight: 700;
        padding: 0;
        margin: 0 0 20px 0;
        a {
            color: $color-primary;
            transition: 0.3s;
            text-decoration: none;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    .date {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin: 0 0 5px;
        color: #145FFF;
        svg {
            margin-left: 5px;
        }
    }
    .swiper-slide {
        position: relative;
        padding-bottom: 30px;
        svg.background_svg {
            position: absolute;
            bottom: 3px;
            z-index: -1;
            right: -2px;
            width: 95%;
        }
    }
    .showall {
        display: flex;
        margin: 30px auto 0;
        height: 50px;
        width: 140px;
        border: 1px solid #fff;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #fff;
        background: transparent;
        font-weight: 800;
        transition: .5s ease-out;
        &:hover {
            background: $color-secondary;
            border-color: $color-secondary;
        }
    }
    .tabbuttons {
        margin: 20px auto 50px;
        justify-content: center;
        button {
            display: flex;
            margin: 0 5px;
            height: 50px;
            width: 140px;
            border: 1px solid #fff;
            border-radius: 25px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #fff;
            background: transparent;
            font-weight: 800;
            transition: .5s ease-out;
            &.active {
                background-image: linear-gradient(to right, #35CCDE, #7A6AF7);
                border: none;
            }
            &:hover {
                background: $color-secondary;
                border: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .news {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}


/*--------------------------------------------------------------
# Frequently Asked Questions Section
--------------------------------------------------------------*/

.faq {
    padding: 70px 0;
    overflow: hidden;
    background: #6a787f08;
    .section-header {
        margin: 0 auto 45px;
    }
    .accordion-item {
        margin-bottom: 25px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
        border-radius: 25px;
        border: none;
        background-position: center;
        background-size: cover;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #00000069;
            border-radius: 25px;
        }
        &:first-child {
            background-image: url("../img/feq/feq1.png");
        }
        &:nth-child(2) {
            background-image: url("../img/feq/feq2.png");
        }
        &:last-child {
            background-image: url("../img/feq/feq3.png");
            margin-bottom: 0;
        }
        .accordion-collapse {
            background: transparent;
        }
        .accordion-button {
            padding: 20px 50px 20px 20px;
            font-weight: 600;
            min-height: 100px;
            border: 0;
            font-size: 18px;
            line-height: 24px;
            text-align: left;
            background: transparent;
            box-shadow: none;
            color: #fff;
            &::after {
                display: none;
            }
            .num {
                margin-left: 25px;
            }
        }
        .accordion-body {
            padding: 0 40px 40px 45px;
            border: 0;
            border-radius: 10px;
            background: transparent;
            box-shadow: none;
            color: #ffffff;
            height: 170px;
            display: flex;
            align-items: flex-end;
            font-size: 18px;
            font-weight: 500;
            z-index: 9;
            position: relative;
        }
    }
    .accordion-collapse {
        background: transparent;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    font-size: 14px;
    background-color: #001F5E;
    padding: 50px 0;
    color: white;
    .footer-info .logo {
        margin-bottom: 25px;
        img {
            max-height: 130px;
            margin-right: 15px;
        }
    }
    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin-right: 10px;
        transition: 0.3s;
        &:hover svg path {
            fill: $color-secondary;
        }
    }
    h4 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        padding-bottom: 10px;
    }
    .footer-links {
        margin-bottom: 30px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: 10px 0;
                display: flex;
                align-items: center;
                &:first-child {
                    padding-top: 0;
                }
            }
            a {
                color: #fff;
                transition: 0.3s;
                display: inline-block;
                line-height: 1;
                text-decoration: none;
                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
    .footer-contact p {
        line-height: 26px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .contact-icon {
            height: 36px;
            width: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 30px;
            margin-left: 10px;
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    .copyright {
        text-align: center;
    }
}


/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    border-radius: 50px;
    transition: all 0.4s;
    color: #fff;
    text-decoration: none;
    &.active {
        visibility: visible;
        opacity: 1;
        bottom: 15px;
    }
    .toparrow {
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
    &:hover .toparrow {
        background: $color-primary;
    }
}